@font-face {
  font-family: "Poppins" sans-serif;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins" sans-serif;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins" sans-serif;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 18px 0 19px;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: #FFF;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__logo-img {
  display: inline-block;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__navbar {
  margin-right: 24px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.navbar__link {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  transition: color 0.4s;
}
.navbar__link:hover {
  color: #02897A;
}

.sign__in-link {
  width: 110px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: transparent;
  color: #173A56;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  border: 1px solid #BCD0E5;
  margin-right: 24px;
}
.sign__in-link:hover {
  width: 110px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: transparent;
  color: #02897A;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  border-color: #02897A;
}

.sign__up-link {
  width: 110px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #02897A;
  color: #FFF;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-right: 24px;
}
.sign__up-link:hover {
  opacity: 0.8;
}

.theme-btn {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  background: #F3F3F3;
  cursor: pointer;
}

.hamburger-btn {
  border: none;
  background: none;
  display: none;
}

@media (max-width: 978px) {
  .header__navbar {
    margin-right: 20px;
  }
  .navbar__item + .navbar__item {
    margin-left: 20px;
  }
}
@media (max-width: 920px) {
  .header__navbar {
    display: none;
  }
  .hamburger-btn {
    margin-left: 24px;
    display: block;
  }
}
@media (max-width: 640px) {
  .sign-wrapper {
    display: none;
  }
}
@media (max-width: 411px) {
  .theme-btn {
    display: none;
  }
  .header__logo-img {
    width: 170px;
    height: 36px;
  }
}
.hero-section {
  padding: 105px 0 114px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.hero__content {
  max-width: 518px;
  padding: 120px 0 104px;
}

.hero__title {
  color: #22343D;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  margin-bottom: 18px;
}

.hero__text-wrapper {
  max-width: 458px;
  margin-bottom: 45px;
}

.hero__text {
  color: #22343D;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}

.hero__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.hero__link {
  width: 175px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #02897A;
  color: #FFF;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  padding: 15px 0 14px;
  margin-right: 30px;
}
.hero__link:hover {
  opacity: 0.8;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  border: none;
  background: none;
  cursor: pointer;
}

.hero__button-text {
  color: #02897A;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  text-decoration-line: underline;
  margin-left: 8.5px;
}

.hero__img-mobile {
  display: none;
}

@media (max-width: 920px) {
  .hero__content {
    max-width: 355px;
  }
  .hero__text-wrapper {
    max-width: 326px;
    margin-bottom: 30px;
  }
  .hero__link {
    margin-right: 20px;
  }
  .hero-img {
    width: auto;
    height: auto;
    display: inline-block;
  }
}
@media (max-width: 895px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}
@media (max-width: 895px) {
  .hero__content {
    width: 100%;
    padding-top: 30px;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text-wrapper {
    width: 100%;
  }
  .hero__text {
    text-align: center;
  }
}
@media (max-width: 756px) {
  .hero__img {
    display: none;
  }
  .hero__img-mobile {
    display: inline-block;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
  }
  .hero__content {
    padding: 0 18px 115px 18px;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text-wrapper {
    width: 100%;
  }
  .hero__text {
    text-align: center;
  }
  .hero__img-mobile {
    margin: 0 auto;
  }
  .hero__link-wrapper {
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .hero__img-mobile {
    margin-bottom: 10px;
  }
  .hero__content {
    padding: 0 5px 115px 5px;
  }
  .hero__title {
    color: #22343D;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    font-style: normal;
    margin-bottom: 16px;
  }
  .hero__text {
    color: #22343D;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
  }
  .hero__link {
    width: 142px;
  }
}
@media (max-width: 357px) {
  .hero__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .hero__link {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hero__img-mobile {
    width: 100%;
    height: auto;
  }
}
.product-section {
  width: 100%;
  padding-bottom: 104px;
  background-image: url("../images/product-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.product__title-wrapper {
  width: 539px;
  margin: 0 auto;
  margin-bottom: 66px;
}

.product__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  text-align: center;
}

.product__card-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 60px;
}

.product__card {
  width: 220px;
}

.product__card:nth-child(2) > .product__card-icon {
  background-color: #4D8DFF;
}

.product__card:nth-child(3) > .product__card-icon {
  background-color: #740A76;
}

.product__card:nth-child(4) > .product__card-icon {
  background-color: #F03E3D;
}

.product__card-icon {
  width: 50px;
  height: 50px;
  padding: 16px 19px;
  margin-bottom: 30px;
  border-radius: 19px;
  background-color: #02897A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product__card-title {
  color: #22343D;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  margin-bottom: 13px;
}

.product__card-text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}

.product__link {
  width: 175px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #02897A;
  color: #FFF;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  padding: 15px 0 14px;
  display: block;
  margin: 0 auto;
}
.product__link:hover {
  opacity: 0.8;
}

@media (max-width: 910px) {
  .product__title-wrapper {
    width: 100%;
  }
  .product__card-wrapper {
    flex-wrap: wrap;
  }
  .product__card {
    width: 35%;
    text-align: center;
  }
  .product__card:nth-child(1), .product__card:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media (max-width: 510px) {
  .product__card-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .product__card {
    margin: 0 auto;
    padding-bottom: 114px;
    align-items: center;
  }
  .product__title-wrapper {
    margin-bottom: 37px;
  }
  .hero__title {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
  }
  .product__card {
    width: 100%;
    padding-bottom: 0;
  }
  .product__card + .product__card {
    margin-top: 37px;
  }
  .product__card-icon {
    margin-bottom: 24px;
  }
  .product__card-title {
    margin-bottom: 8px;
    color: #22343D;
    font-size: 22px;
    font-weight: 600px;
    line-height: normal;
    font-style: normal;
  }
}
.management-section {
  padding: 169px 0 188px;
}

.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.management__strong {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  margin-bottom: 8px;
}

.management__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 131px;
}

.management__bottom {
  width: 486px;
}
.management__bottom + .management__bottom {
  margin-top: 25px;
}

.management__bottom-title {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-style: normal;
  margin-bottom: 12px;
}

.management__bottom-text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}

@media (max-width: 1048px) {
  .management__bottom {
    width: 400px;
  }
}
@media (max-width: 970px) {
  .management__bottom {
    width: 320px;
  }
}
@media (max-width: 885px) {
  .management-section {
    padding: 149px 0 158px;
  }
  .management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .management__img {
    margin-bottom: 30px;
  }
  .management__content {
    width: 100%;
  }
  .management__strong {
    display: block;
    text-align: center;
  }
  .management__title {
    margin-bottom: 80px;
    text-align: center;
  }
  .management__bottom {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 569px) {
  .management-section {
    padding: 100px 20px 97px 20px;
  }
  .management__img {
    margin-bottom: 50px;
  }
  .management__img {
    width: 349px;
    height: 306px;
  }
  .management__strong {
    text-align: start;
  }
  .management__title {
    text-align: start;
    margin-bottom: 16px;
  }
  .management__bottom {
    text-align: start;
  }
}
@media (max-width: 355px) {
  .management__img {
    width: 260px;
    height: 200px;
  }
}
.customer-section {
  padding-bottom: 150px;
}

.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.customer__strong {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  margin-bottom: 8px;
}

.customer__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 23px;
}

.customer__text-wrapper {
  width: 486px;
  margin-bottom: 30px;
}

.customer__text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}

.check__item {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 30px;
}
.check__item + .check__item {
  margin-top: 30px;
}

@media (max-width: 1060px) {
  .customer__text-wrapper {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .customer__text-wrapper {
    width: 350px;
  }
  .check__item {
    width: 380px;
  }
  .customer__img {
    width: 480px;
    height: 420px;
  }
}
@media (max-width: 885px) {
  .customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .customer__img {
    margin-bottom: 30px;
  }
  .customer__strong {
    display: block;
    text-align: center;
  }
  .customer__title {
    text-align: center;
  }
  .customer__text-wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .customer__text {
    text-align: center;
  }
  .customer__check {
    width: 100%;
  }
  .check__item {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .customer__img {
    width: 350px;
    height: 319px;
    margin-bottom: 50px;
  }
  .customer__strong {
    text-align: start;
  }
  .customer__title {
    text-align: start;
  }
  .customer__text-wrapper {
    padding: 0;
  }
  .customer__text {
    text-align: start;
  }
  .check__item {
    margin: 0;
  }
}
@media (max-width: 392px) {
  .customer__img {
    width: 300px;
    height: 260px;
  }
  .check__item {
    width: 100%;
  }
}
@media (max-width: 392px) {
  .customer__img {
    width: 260px;
    height: 200px;
  }
}
.collab-section {
  padding-bottom: 170px;
}

.collab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.collab__strong {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  margin-bottom: 8px;
}

.collab__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 23px;
}

.collab__text-wrapper {
  width: 486px;
}

.collab__text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}

.collab__bottom {
  margin-top: 30px;
}

.collab__bottom-span {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-style: normal;
  margin-bottom: 12px;
}

.collab__bottom-text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}

@media (max-width: 1060px) {
  .collab__text-wrapper {
    width: 400px;
  }
}
@media (max-width: 960px) {
  .collab__img {
    width: 520px;
    height: 430px;
  }
  .collab__text-wrapper {
    width: 350px;
  }
}
@media (max-width: 892px) {
  .collab__text-wrapper {
    width: 320px;
  }
  .collab__bottom-text {
    width: 320px;
  }
}
@media (max-width: 885px) {
  .collab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .collab__strong {
    display: block;
    text-align: center;
  }
  .collab__title {
    text-align: center;
  }
  .collab__text-wrapper {
    width: 100%;
    padding: 0 40px;
  }
  .collab__text {
    text-align: center;
  }
  .collab__bottom {
    width: 100%;
    padding: 0 40px;
    text-align: center;
  }
}
@media (max-width: 528px) {
  .collab__img {
    width: 350px;
    height: 290px;
  }
}
@media (max-width: 500px) {
  .collab__text-wrapper {
    padding: 0 10px;
  }
  .collab__strong {
    text-align: start;
  }
  .collab__title {
    text-align: start;
  }
  .collab__text-wrapper {
    padding: 0;
    text-align: start;
  }
  .collab__text {
    text-align: start;
  }
  .collab__bottom {
    padding: 0;
    text-align: start;
  }
  .collab__bottom-span {
    margin-bottom: 12px;
  }
}
@media (max-width: 380px) {
  .collab__img {
    width: 270px;
    height: 200px;
  }
}
.quick-section {
  padding: 52px 0 150px;
  width: 100%;
  background-image: url("../images/quick-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.quick__content {
  width: 100%;
}

.quick__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  text-align: center;
  margin-bottom: 16px;
}

.quick__text-wrapper {
  width: 542px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.quick__text {
  text-align: center;
}

.quick__process-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 24px;
}

.quick__process-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
}

.quick__process-bottom > .process__item :nth-child(2) {
  flex-direction: row-reverse;
}

.quick__process-bottom > .process__item :nth-child(2) {
  flex-direction: row-reverse;
  width: 338px;
  gap: 34px;
}
.quick__process-bottom > .process__item :nth-child(2)::before {
  content: "";
  width: 281px;
  height: 59px;
  background-image: url("../../images/cloud2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  right: 120px;
}

.quick__process-top > .process__item:nth-child(2) {
  flex-direction: row-reverse;
  width: 338px;
  gap: 34px;
}
.quick__process-top > .process__item:nth-child(2)::before {
  content: "";
  width: 240px;
  height: 59px;
  background-image: url("../../images/cloud2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  right: 120px;
}

.process__item {
  width: 338px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 41px;
  position: relative;
}
.process__item::before {
  content: "";
  width: 274px;
  height: 53px;
  background-image: url("../images/cloud1.svg");
  background-repeat: no-repeat;
  fill: #FFF;
  filter: drop-shadow(0px 2px 8px rgba(86, 117, 146, 0.1));
  background-size: 100%;
  position: absolute;
  right: -45px;
}

.process__text {
  position: relative;
  color: #2F281E;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}

@media (max-width: 909px) {
  .quick__process-top {
    flex-direction: column;
    gap: 32px;
  }
  .quick__process-bottom {
    flex-direction: column;
    gap: 32px;
  }
  .quick__process-bottom > .process__item:nth-child(2) {
    flex-direction: row-reverse;
  }
  .quick__process-bottom > .process__item:nth-child(2)::before {
    content: "";
    right: 130px;
  }
}
@media (max-width: 589px) {
  .quick__text-wrapper {
    width: 100%;
  }
}
@media (max-width: 437px) {
  .process__img {
    width: 55px;
    height: 55px;
  }
  .quick__process-top > .process__item:nth-child(2) {
    flex-direction: column;
    width: 100%;
  }
  .quick__process-top > .process__item:nth-child(2)::before {
    right: 0;
    top: 67px;
    width: 100%;
  }
  .quick__process-bottom > .process__item:nth-child(2) {
    flex-direction: column;
    width: 100%;
  }
  .process__item {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .process__item:before {
    content: "";
    width: 100%;
    top: 77px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .process__text {
    color: #2F281E;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    font-style: normal;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .quick__process-bottom > .process__item :nth-child(2) {
    width: 70%;
  }
}
.work-section {
  padding-bottom: 150px;
}

.work__title-wrapper {
  width: 100%;
  margin-bottom: 33px;
}

.work__title {
  color: #22343D;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 8px;
}

.work__text {
  color: #22343D;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-style: normal;
}

.work__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 64px;
}

.work__card {
  width: 348px;
  border-radius: 8px;
  background: #FFF;
  border: 1px solid #DEDEDE;
}

.work__span-wrapper {
  padding: 0 30px 40px 24px;
}

.work__img {
  border-radius: 8px;
  margin-bottom: 24px;
}

.work__span {
  margin-bottom: 12px;
}

.work__span--color {
  color: #22343D;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  font-style: normal;
}

.work__card-title {
  color: #22343D;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  font-style: normal;
}
.work__card-title:hover {
  color: #02897A;
}

.carusel__img-wrapper {
  text-align: center;
}

@media (max-width: 1107px) {
  .work__card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .work__title {
    text-align: center;
  }
  .work__text {
    text-align: center;
  }
}
@media (max-width: 405px) {
  .work__card {
    width: 301px;
  }
  .work__img {
    width: 300px;
    height: 120px;
  }
}
@media (max-width: 305px) {
  .work__card {
    width: 271px;
  }
  .work__img {
    width: 270px;
    height: 110px;
  }
}
.price-section {
  padding-bottom: 150px;
}

.price__content {
  margin-bottom: 50px;
}

.price__title {
  color: #22343D;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 8px;
  text-align: center;
}

.price__text {
  color: #22343D;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  text-align: center;
}

.price__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.price__card {
  width: 322px;
  padding: 24px 73px 32px;
  text-align: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s linear;
}
.price__card:hover {
  background-color: #02897A;
}
.price__card:hover .price__card-bold {
  color: #fff;
}
.price__card:hover .price__card-text {
  color: #fff;
}
.price__card:hover .price__name {
  color: #fff;
}
.price__card:hover .price__val {
  color: #fff;
}
.price__card:hover .price__time {
  color: #E0E0E0;
}
.price__card:hover .price__comfort {
  color: #fff;
}
.price__card:hover .price__link {
  color: #02897A;
  background-color: #fff;
}

.price__card-bold {
  color: #22343D;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  font-style: normal;
  margin-bottom: 8px;
}

.price__card-text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  margin-bottom: 16px;
}

.price__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 40px;
}

.price__right {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-left: 8px;
}

.price__name {
  color: #02897A;
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  font-style: normal;
  letter-spacing: 0.2px;
}

.price__val {
  color: #02897A;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 0.1px;
}

.price__time {
  color: var(--second-text, #AFAFAF);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  letter-spacing: 0.1px;
}

.price__list2 {
  margin-bottom: 38px;
}

.price__item + .price__item {
  margin-top: 16px;
}

.price__comfort {
  color: #22343D;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.2px;
}

.price__link {
  width: 102px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #02897A;
  color: #FFF;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  font-size: 18px;
  line-height: normal;
}
.price__link:hover {
  opacity: 0.8;
}

@media (max-width: 1050px) {
  .price__card {
    width: 280px;
  }
}
@media (max-width: 912px) {
  .price__card-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .price__card {
    width: 322px;
  }
}
@media (max-width: 351px) {
  .price__card {
    width: 280px;
  }
}
.review-section {
  padding-bottom: 157px;
}

.review__content {
  width: 100%;
  text-align: center;
}

.review__text-wrapper {
  width: 537px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.review__title {
  color: #22343D;
  font-size: 34px;
  font-weight: 700;
  line-height: 57px;
  font-style: normal;
  margin-bottom: 8px;
  letter-spacing: 0.2px;
}

.review__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.review__card {
  width: 327px;
  padding: 28px 26px 24px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  background-color: var(--light-background, #FFF);
}

.review__icon {
  margin-bottom: 16px;
}

.review__card-text {
  color: var(--second-text-color, #737373);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}

.review__avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.review__right {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 14px;
}

.review__right-strong {
  color: #02897A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.2px;
}

.review__right-span {
  color: var(--text-color, #252B42);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.2px;
}

@media (max-width: 1036px) {
  .review__card {
    width: 270px;
  }
}
@media (max-width: 868px) {
  .review__card-wrapper {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 570px) {
  .review__text-wrapper {
    width: 100%;
  }
}
@media (max-width: 290px) {
  .review__card {
    width: 100%;
  }
}
.boost-section {
  padding: 0 65px 100px 65px;
}

.boost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 32px;
  background-color: #02897A;
}

.boost__content {
  width: 510px;
  padding: 49px 0 56px 51px;
}

.boost__title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151.4%;
  font-style: normal;
  margin-bottom: 80px;
}

.boost__btn-wrap {
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}
.boost__btn-wrap:hover {
  opacity: 0.8;
}

.boost__btn {
  width: 150px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #fff;
  color: #02897A;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-size: 20px;
}

@media (max-width: 870px) {
  .boost {
    flex-direction: column;
  }
  .boost__content {
    width: 100%;
    margin-bottom: 50px;
    padding: 20px 20px 20px 0;
    text-align: center;
  }
  .boost__title {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (max-width: 633px) {
  .boost__content {
    padding: 20px;
  }
  .boost__title {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
  }
}
@media (max-width: 500px) {
  .boost-section {
    padding: 0 15px 100px 15px;
  }
}
@media (max-width: 370px) {
  .boost__img {
    width: 310px;
    height: 270px;
  }
}
@media (max-width: 320px) {
  .boost-section {
    padding: 0;
  }
  .boost__img {
    width: 290px;
    height: 240px;
  }
}
@media (max-width: 295px) {
  .boost__content {
    padding: 10px 5px;
  }
  .boost__img {
    width: 270px;
    height: 220px;
  }
}
.site-footer {
  padding: 50px 0 46px;
}

.footer__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;
}

.footer__logo-link {
  display: inline-block;
}

.footer__content1-social {
  margin-top: 24px;
}

.content2__strong, .content3__strong {
  color: #22343D;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 8px;
}

.content2__item + .content2__item, .content3__item + .content3__item {
  margin-top: 8px;
}

.content2__link, .content3__link {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
}

.footer__content4 {
  width: 280px;
}

.content4__text {
  color: #22343D;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 34px;
}

.form__input {
  padding: 10px 0 10px 15px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  background-color: #FFF;
  margin-bottom: 21px;
}

.form__button {
  width: 131px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #02897A;
  color: #FFF;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.form__button:hover {
  opacity: 0.7;
}

.footer__bottom {
  width: 100%;
}

.footer__text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

@media (max-width: 750px) {
  .footer__top {
    flex-direction: column;
    text-align: center;
  }
  .footer__content1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer__content2 {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
  .footer__content3 {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
  .footer__content4 {
    width: 100%;
    text-align: center;
  }
  .site-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */